#root {
    height: 100vh;
}
html, body{
    margin:0px;
    height:100%;
}
.container{
    width: 100%;
    height:100%;
    display: flex;
    align-items:center;
    justify-content: top;
    margin: 0;
    flex-direction:column;
}
.timerContainer{
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction:column;
    border-radius: 150px;
    box-shadow:rgba(255,255,255,0.50) 3px 3px 4px;
}
.buttonContainer{
    width : 500px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
    margin-bottom:40px;
}

.sugButtons{
    width:80px;
    height:80px;
    border-radius: 50%;
    font-family: "DynaPuff", system-ui;
    font-size:20px;
    border:none;
    box-shadow:rgba(255,255,255,0.50) 1.95px 1.95px 2.6px;
    color:white;
    background-color: var(--bg-color);
}
.sugButtons:hover{
background-color: var(--bg-hover-color);
}

.dynapuff-fonts{
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#resetButton {
    font-family : "DynaPuff";
    font-size: 25px;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border:none;
    box-shadow:rgba(255,255,255,0.50) 1.95px 1.95px 2.6px;
    color: white;
    background-color: var(--bg-color);

}
#resetButton:hover {
    background-color: var(--bg-hover-color);
}
#timer {
    font-family: "DynaPuff";
    font-size: 70px;
    color: white;
}
.stateBtn{
    font-family : "DynaPuff";
    font-size: 25px;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border:none;
    box-shadow:rgba(255,255,255,0.50) 1.95px 1.95px 2.6px;
    color: white;
    background-color: var(--bg-color);
}
.stateBtn:hover{
    background-color: var(--bg-hover-color);
}
